<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <form #userRegistrationForm="ngForm">
                <div class="form-outline mb-4">

                  <label class="form-label" for="login">Login</label>
                  <input type="text" id="login" class="form-control form-control-lg" name="login" #Login="ngModel"
                         placeholder="Enter Login" [(ngModel)]="user.login" required minlength="5"
                         [pattern]="loginPattern"/>
                  <div *ngIf="Login.invalid && (Login.dirty || Login.touched)" class="alert">
                    <div *ngIf="Login.errors?.['required']">
                      Login is required.
                    </div>
                    <div *ngIf="Login.errors?.['minlength']">
                      Login must contain least 5 characters long.
                    </div>
                    <div *ngIf="Login.errors?.['pattern']">
                      Login must contain alpha-numeric values only.
                    </div>
                  </div>

                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" id="password" class="form-control form-control-lg validate" name="Password"
                         #Password="ngModel" required minlength="8"
                         placeholder="Enter password" [(ngModel)]="user.password" [pattern]="passwordPattern"/>
                  <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="alert">
                    <div *ngIf="Password.errors?.['required']">
                      Password is required.
                    </div>
                    <div *ngIf="Password.errors?.['minlength']">
                      Password must be at least 8 characters long.
                    </div>
                    <div *ngIf="Password.errors?.['pattern']">
                      Password must contain at least 1 number, 1 uppercase, and 1 lowercase character
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button [disabled]="!userRegistrationForm.valid" type="button"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="onSubmit()">
                    Register
                  </button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
